version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: lofi_food_mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - ./data/db:/data/db
    environment:
      MONGO_INITDB_DATABASE: lofi_food_finder
